.footer {
    margin: 10px auto;
    /* background-color: #797979; */
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15 px 0;
    /* height: 100px; */
}

.footer ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.footer ul {
margin-right: 5px;
}
.footer p {
    margin-left: 5px;
}

/* meida query */
@media (max-width:600px) {
    .footer {
        display: block;
        text-align: center;
    }
    .footer ul li {
        margin: 10px;
    }
    .footer ul {
        margin-top: 10px;
    }
}